body {
    background: rgb(221, 220, 220);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #1e5474;
}

a {
    text-decoration: none;
}

a span {
    color: #1e5474;
}

p span {
    font-size: 24px;
    font-weight: 600;

}

.container .footer {
    background-color: #eef0f1;
    padding: 10px;
    margin-top: 50px;
}

.container .footer p span {
    color: #1e5474;
    text-align: right;
    font-size: 18px;
    font-style: italic;
    margin: 0px;
}

.dashboard {
    border-radius: 18px;
}

.dashboard:hover {
    border: 2px solid #1e5474;
    transition: 0.9s;
}

.card .card-title {
    font-size: 24px;
}

.card .card-body {
    margin-top: -80px;
    margin-left: 100px;

}

.card .card-body p span {
    font-size: 94px;
}

.nav-link:active {
    background-color: #1e5474;
}

.tabs a {
    padding: 10px;
    color: white;
}

.tabs a:hover,
.tabs a:active {
    background-color: white;
    color: #1e5474;
    transition: 0.7s;
}

.tabs a .active {
    background-color: white;
    color: #1e5474;
}

.tabs .btn-obat {
    border: 1px solid orange;
    color: orange;
    font-size: 12px;
}

.btn-action a {
    background-color: orange;
    margin-top: 30px;
    font-size: 12px;
    border-radius: 3px;
    color: black;
    padding: 12px;

}

.btn-action a:hover {
    color: black;
    background-color: rgb(255, 184, 51);
    transition: 0.7s;
}